.fullwidth select {
  width: 100%;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 15%);
  background-color: transparent;
  padding: 5px 10px;
  color: white;
}
.fullwidth input {
  width: 100%;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 15%);
  background-color: transparent;
  padding: 5px 10px;
  color: white;
}
.fullwidth input:focus {
  border-bottom: 2px solid rgb(255, 255, 255);
  outline: none;
}
.fullwidth input::placeholder {
  color: white;
  font-size: smaller;
  opacity: 60%;
}

.fullwidth select option {
  width: 100%;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 15%);
  background-color: transparent;
  padding: 5px 10px;
  color: white;
  background-color: rgba(255, 204, 0, 1);
}
.sign-top {
  z-index: -1;
}

.signup_bg {
  background: url("../../images/others/register.png") no-repeat;
  width: 100%;
  background-size: cover;
  background-position: top;
  z-index: -1;
  min-height: 110vh;
  height: 100%;
}

.sign-form {
  background-color: black;
  padding: 20px 40px;
  color: white;
  font-family: abel;
  margin-top: 10%;
  opacity: 54%;
  margin-bottom: 5%;
}
.sign-submit-btn input {
  padding: 7px 60px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 20px;
  z-index: 999;
  font-weight: bold;
}
.sign-submit-btn a {
  padding: 7px 60px;
  background-color: white;
  color: black !important;
  border: none;
  border-radius: 20px;
  z-index: 999;
  font-weight: bold;
  cursor: pointer;
}

.is-danger {
  border-bottom: 2px solid red;
}
.help {
  color: red;
}
/**/
.terms_condition input:disabled {
  background-color: #ffcc00;
}
.terms a {
  color: #ffcc00 !important;
}

.sign_margin_top {
  margin-top: 30px;
}
.react-select {
  color: #000 !important;
}
