@font-face {
  font-family: "abel";
  src: local("abel"), url(../../font/Abel-Regular.ttf) format("truetype");
}
.logo {
  margin-left: 25px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-family: Abel;
}

.navbar {
  /* background-color: rgba(255,255,255, .1); */
  background-color: #ffcc00;
  box-shadow: 2px 2px 5px black;
  height: 64px;
  position: sticky;
  z-index: 9999;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  /* background-color: white; */
}

.nav-link a {
  display: block;
  padding: 6px 0px;
  color: white !important;
  text-decoration: none;
  font-family: abel;
}
.nav-link.active a {
  display: block;
  padding: 6px 0px;
  margin-left: 15px;
  border-radius: 8px;
  color: black !important;
  font-family: abel;
  font-weight: 600;
}

.language {
  border: none;
  color: black !important;
  display: flex;
}

.ghuri_logo {
  width: 90px;
  margin-left: 10px;
  height: 45px;
}
.navbar-nav .nav-link {
  padding-left: 10px !important;
}

@media only screen and (max-width: 600px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: #ffcc00;
    /* padding: 20px; */
  }

  /* .nav-link{
            border-bottom: 2px solid white;
        } */
}
