@font-face {
  font-family: "abel";
  src: local("abel"), url(../../font/Abel-Regular.ttf) format("truetype");
}
.logo {
  margin-left: 25px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-family:Abel ;
}

.navbar {
  /* background-color: rgba(255,255,255, .1); */
  background-color: #ffcc00;
  box-shadow: 2px 2px 5px black;
  height: 64px;
  /* position: fixed; */
  z-index: 9999;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  /* background-color: white; */
}

.nav-link{
color: black;

}

.nav-link:hover{

 
  color: black !important;
 
}
.language {
  border: none;
  color: black !important;
  display: flex;
}

.ghuri_logo {
  width: 90px;
  margin-left: 10px;
  height: 45px;
}
.navbar-nav .nav-link {
  padding-left:1.4rem !important;
}
.dropdown-menu {
  position: static;
  float: none;
  background-color: #ffcc00 !important;
  padding: 0px !important;
  font-family: Abel;
}
.ghuri_nav .dropdown-item.active,
.dropdown-item:hover {
  background-color: #cc0000 !important;
  color: white !important;
  transition: 1s;
}

.ghuri_nav .dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #cc0000 !important;
}

.drop_down_menu a {
  margin-left: 0px !important;
  padding: 0px !important;
  margin-left: 10px !important;
  font-family: abel;
  font-weight: 300 !important;
  color: black !important;
}
.nav_color a {
  color: black !important;
}
.custom_nav{
  color: #fff !important;
}

.custom_nav:hover{
  color: #fff !important;
}
@media only screen and (max-width: 600px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: #ffcc00;
  }
}
