@font-face {
    font-family: 'ghuri';
    src: local('ghuri'), url(./Font/ghuri_font_italic.otf) format('opentype');
  }
.logo{
    margin-left: 25px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0,0,0);
    font-weight:500;
    font-family:Abel;
    
}

.navbar{
    /* background-color: rgba(255,255,255, .1); */
    background-color:rgba(255, 204, 0,1);
    box-shadow: 2px 2px 5px black;
    
   
    /* background-color: white; */
}

.nav-link {
    display: block;
    padding: 6px 0px;
    
    margin-left: 15px;
    border-radius:8px;
    color: white !important;

}
.nav-link.active {
    display: block;
    padding: 6px 0px;
    
    margin-left: 15px;
    border-radius:8px;
    color:black !important;
    background-color: #ffcc00;

}

.language{
    border: none;
    color: black !important;
}

.logo{
    font-family: ghuri;
    font-size:30px;
}
.ghuri_logo{
    width:50%;
    margin-left:10px;
    
}
