.terms_content h1 {
  font-family: abel;
  font-size: 2rem;
  margin-top:25px;
  margin-bottom: 25px;
  font-weight: bold;
  color: #ffcc00;
}
.terms_content p {
  font-family: abel;
  font-size: 1rem;
  text-align: justify;
}
.terms_content h2 {
  font-family: abel;
  font-size: 1.5rem;
  margin-top:25px;
  margin-bottom: 25px;
  color: #ffcc00;
}
.terms_content ul li {
    font-family: abel;
    font-size: 1rem;
    text-align: justify;
  }