.homepageLanding {
  background-image: url(../../images/hero.png);
  background-repeat: no-repeat;

  background-size:100% 100%;
  width: 100%;
height: 690px;
  z-index: 2;
 
}
.Nav_home{
    margin-top: 110px;
}

.mt-127{
    padding-top:60px;
   
}
#ins{
    display: inline !important;
}

.homepageLanding h1{
    font-size: 65px;
    line-height: 90px;
    font-family: interSemi;
}

.homepageLanding p{
    font-size: 16px;
    line-height: 33px;
    font-family: inter_r;
    margin-bottom: 88px;
}

.btnGhuri-primary{
    background-color: #ffcc00;
    padding:19px 25px;
    font-size: 16px;
    font-family: inter_m;
    border-radius: 45px;
    display: flex;
    align-items: center;
}

.btnGhuri-download{
    background-color: #ffffff;
    padding:18px 42px;
    font-size: 16px;
    font-family: inter_m;
    border-radius: 45px;
    display: flex;
    align-items: center;
    border: 1px solid #ffcc00;
    margin-top: 32px;
}



.ghuriHighlights2{
    display: none;
}

.ml-17{
    margin-left: 17px;
}



.ghuri_platform{
    margin-top: 90px;
}

.platFormText h1{
    text-align: center;
    font-family: inter_m;
    font-size: 55px;
}
.platFormText p{
    text-align: center;
    font-family: inter_r;
    font-size:24px;
}

.platForm_content{
    margin-top: 70px;
}

.platformMobile img{
    width: 732px;
    height: 708px;
    object-fit: cover;
}

.mt-40{
    margin-top: 40px;
}
.mar-70{
    margin-top: 70px;
}
.iconImage img{
    height: 40px;
    width: 40px;
    object-fit: contain;
    margin-right: 50px;
}
.platformBazar h2 img{
    height: 90px;
    width: 90px !important;

}

.platformBazar h2 {
  font-family: inter_r;
  font-size: 55px;
  display: inline !important;
}
.aboutGhuri{
    margin-top: 180px;
}

.aboutGhuriTxt h1{
    font-family: inter_m;
    font-size: 55px;
}

.aboutGhuriTxt p{
    font-family: inter_r;
    font-size:16px;
    margin-top: 32px;
}
.mar-60{
    margin-top: 60px;
}
.aboutGhuriImg img{
   width: 732px;
    height: 559px;
}
.download{
    margin-top: 180px;
}
.ghuriMobile img{
    width: 869px;
    height: 839px;
}
.downloadTxt h2{
    font-family: inter_m;
    font-size: 45px;
}

.news img{
    width: 351px;
    height: 108px;
    object-fit: contain;
}
.ghuriHighlights h1{
    font-family: inter_m;
    font-size: 55px;
    text-align: center;
}

.ghuriHighlights{
  margin-top: 90px;
  height: 450px;
  padding-bottom: 90px;
}
.ghuriHighlights img{
    width: 351px;
    height: 108px;
}

.allnews {
    margin-top:50px;
}
.blogHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blogTitle h1{
    font-family: inter_m;
    font-size: 55px;
 
}

.blog img{
    width:351px;
    height: 250px;
}
.allblog{
    margin-top: 50px;
}
.blog h6{
    font-family: inter_m;
    font-size: 24px;
    line-height: 32px;
    margin-top: 16px;
}
.app{
    display: flex;
}
.app img{
    width:40%;
    height: 55px;
  
}
.app-50{
    margin-top: 50px;
    margin-bottom: 24px;
}
.item1 img{
    width: 224px;
    height: 100px;
    object-fit: contain;
}
.item1{
    padding-top: 70px;
    padding-bottom: 70px;
}
.ghuriBlog{
    background-color: #F2F3F7;
    padding-top: 90px;
    padding-bottom: 90px;
}
.news{
    cursor: pointer;
}





.boxHome {
    width:100%;
    height: auto;
    background-color:#F2F3F7;
    color: black;
    padding: 58px 39px 43px 39px;
    position: relative;
    border-radius: 4px;
    float: left;
  }

  .boxHome.arrow-top-third{
    margin-top: 40px;
  }
  .boxHome.arrow-top {
    margin-top: 40px;
  }
  
  .boxHome.arrow-top:after {
    content: " ";
    position: absolute;
    right:8%;
    top: -25px;
    border-top: none;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 25px solid #F2F3F7;
  }

  .boxHome.arrow-top-third:after {
    content: " ";
    position: absolute;
    left:8%;
    top: -25px;
    border-top: none;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 25px solid #F2F3F7;
  }

  .boxHome.arrow-top_plus::after{
    content: " ";
    position: absolute;
    right:33%;
    top: -25px;
    border-top: none;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 25px solid #F2F3F7;
  }
  .boxHome.arrow-top_plus {
    margin-top: 40px;
  }
  
  
  .boxHome.arrow-top_lite::after{
    content: " ";
    position: absolute;
    left:35%;
    top: -25px;
    border-top: none;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 25px solid #F2F3F7;
  }
  .boxHome.arrow-top_lite {
    margin-top: 40px;
  }

.marginL{
    margin-left: 12px;
}



/* Responsive */
/* 
@media (max-width: 1899px) {}

@media (max-width: 1490px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {} */


@media (max-width: 1899px) {
    .homepageLanding h1 {
        font-size: 40px;
        line-height: 50px;
        font-family: interSemi;
    }

    .homepageLanding p {
        font-size: 15px;
        line-height: 33px;
        font-family: inter_r;
        margin-bottom: 30px;
    }

    .ghuriMobile img {
        width:100%;
        height:auto;
    }
    .blog img {
        width:100%;
        height:auto;
    }
    .ghuriHighlights img {
        width: 100%;
        height:auto;
    }
    .aboutGhuriImg img {
        width: 100%;
        height:auto;
    }
}

@media (max-width: 1490px) {
    .mt-127 {
        padding-top: 30px;
    }
    .homepageLanding p {
        font-size: 15px;
        line-height: 33px;
        font-family: inter_r;
        margin-bottom:15px;
    }
    .homepageLanding h1 {
        font-size: 28px;
        line-height: 37px;
        font-family: interSemi;
    }
   
    /* .homepageLanding {
       
        max-height: 691px;
        height: 365px;
        background-size: 100%;
        width: 100%;
        z-index: 2;
    } */
    .platformMobile img {
        width:100%;
        height:auto;
        object-fit: cover;
    }
    .ghuriMobile img {
        width:100%;
        height:auto;
    }
    .homepageLanding {
      
        background-size:100%;
        width: 100%;
        z-index: 2;
    }
    .homepageLanding {
        height: 555px;
    }

}

@media (max-width: 1200px){
.homepageLanding {
    height: 440px;
}}


@media (max-width: 991.98px) {
    .homepageLanding {
      
        background-size:100%;
        width: 100%;
        z-index: 2;
    }
    .homepageLanding {
        height:500px;
        width: 100%;
        background-size:cover;
        background-position: center; 
    }
    .app img {
        width: 70%;
        height:50px;
    }
    .app {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .marginL{
        margin-left:0px;
        margin-top: 10px;
    }
}

@media (max-width: 767.98px) {
    .homepageLanding {
        height:500px;
        width: 100%;
        background-size:cover;
        background-position: center; 
    }
    .platformMobile img {
      
        margin-bottom: 45px;
    }
    .mt-smd-6{
        margin-top: 40px;
    }
    /* .ghuriHighlights{
display: none !important;
    } */

    .download {
        margin-top: 100px;
    }
    .blogTitle h1 {
        font-family: inter_m;
        font-size: 30px;
    }
    .btnGhuri-download {
        background-color: #ffffff;
        padding: 14px 42px;
        font-size: 16px;
        font-family: inter_m;
        border-radius: 45px;
        display: flex;
        align-items: center;
        border: 1px solid #ffcc00;
        margin-top:15px;
    }
    .ghuriHighlights{
        display: none !important;
    }
    .ghuriHighlights2{
        display: block !important;
    }
}

@media (max-width: 575.98px) {
    .app img {
        width: 60%;
        height:70px;
    }
    .mt-sm-6{
        margin-top: 0px;
    }
    .app {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        
    }
    .app-50 {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .downloadTxt{
        margin-top: 40px;
    }
    .ghuriBlog {
        background-color: #F2F3F7;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .platFormText h1 {
        text-align: center;
        font-family: inter_m;
        font-size: 30px;
    }
    .platformBazar h2 {
        font-family: inter_r;
        font-size: 32px;
        display: inline !important;
    }
    .platformBazar h2 img {
        height: 60px;
        width: 60px !important;
    }
    .mar-70 {
        margin-top: 40px;
    }
    .aboutGhuriTxt h1 {
        font-family: inter_m;
        font-size: 30px;
    }
    .aboutGhuri {
        margin-top: 61px;
    }
    .downloadTxt h2 {
        font-family: inter_m;
        font-size: 30px;
    }
    .blog h6 {
        font-family: inter_m;
        font-size: 18px;
        line-height: 32px;
        margin-top: 16px;
    }
}

