.partners{
    margin-top: 50px;
    padding-bottom: 60px;
    margin-left: 5%;
    margin-right: 5%;
}

.partners h1{
    margin-bottom: 60px;
    text-align: center;
    font-size: 40px;
    font-family: abel;
    margin-top: 20px;
}
.partners_logo img{
    width:60%;

}
.partners_logo{
    border-radius: 10px;
    box-shadow: 1px 1px 10px grey;
    padding: 20px;
    text-align: center;
}
