.parcel_bg{
    background-image: url("../../images/others/parcel_bg.png");
    width: 100%;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    padding-bottom: 30px;
    height: 600px;
    margin-top: -6%;
    top: -20%;
}
.product h4{
    font-size: 1.2rem;
    margin: 0px;
}

.first_product{
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}
.last_product{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
 }

 .product_row{
    box-shadow: 1px 1px 10px black;
    border-radius: 10px;

 }
 .product_text h1{
     color: white;
     font-size: 60px;
     font-family: abel;
 }
