.not_found {
  text-align: center;
  justify-content: center;
  margin-top: 15%;
  height: 70vh;
}
.not_found h1 {
  font-size: 28px;
}
.not_found p {
  font-size: 12px;
}

/* Heath Care */
.dot_circle {
  margin: 0px 10px;
  font-size: 10px;
  color: #ffcc00;
  margin-top: -10px;
}

.package_price {
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 20px;
  color: white !important;
  font-family: abel;
}
.img_users {
  height: 40px;
  width: 40px;
  margin-right: 15px;
  margin-top: 20px;

  padding: 6px;
  border-radius: 50%;
  background-color: #ffcc00;
}
.img_comunication {
  height: 40px;
  width: 40px;
  margin-right: 15px;
  margin-top: 20px;

  padding: 8px;
  border-radius: 50%;
  background-color: #ffcc00;
  object-fit: cover;
}
.body_text_info {
  font-weight: 400;
  color: white !important;
  font-family: abel;
}
.card_footer_health {
  background-color: black !important;
  color: #ffcc00 !important;
  border-top: 1px solid white;
}
.card_footer_health a {
  color: #ffcc00 !important;
}
.m_color {
  background-color: #ffcc00;
}
.card_color {
  background-color: black;
  border: none;
  box-shadow: 2px 2px 6px grey;
}
.card_title {
  color: white !important;
  text-transform: uppercase;
  font-family: abel;
}
.health_headline {
  text-transform: uppercase;
  font-family: abel;
}
.dg_health {
  width: 5%;
}
/* .powered_by h6 {
  color:black;
  font-family: abel;
  font-size: 18px;
  margin-bottom: 0px !important;
  padding-bottom: 20px;
margin-left:2%;
 
} */

.powered_by h6 {
  color: black;
  font-family: abel;
  font-size: 12px;
  margin-bottom: 0px !important;
  padding-bottom: 20px;
  margin-left: 11%;
}

.ghuri_health {
  width: 10%;
}

/* End Health */

/* Start sns Verifications*/
.sms {
  background-color: #ffcc00;
}
.verification_box {
  background-color: black !important;
  border: none !important;
  outline: none !important;
  color: white;
  font-family: abel;
  border: none !important;
  box-shadow: 2px 2px 6px grey;
}
.btn-verification {
  background-color: #ffcc00;
  color: black;
  font-weight: 600;
}
.resend a {
  color: #cc0000 !important;
}

.resend span {
  color: #cc0000 !important;
}
.verification_input input {
  border: none;
  background-color: black;
  border-bottom: 2px solid white;
  color: white;
}
.verification_input input::placeholder {
  color: white;
  opacity: 50%;
  font-family: abel;
}

.verification_input input:focus {
  outline: none;
}
.verification_subtitle {
  opacity: 70%;
}
.card {
  border: none !important;
}

/* Silver*/
.health_headline span {
  color: #ffcc00;
  font-weight: bold;
}
.package_content_details p {
  font-family: abel;
}
.package_content_details .fa-check {
  color: #ffcc00 !important;
}
.package_content_details ul li {
  font-family: abel;
}
.package_content_details h2 {
  font-family: abel;
  color: #ffcc00;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 20px;
}
.package_content_details h4 {
  font-family: abel;
  color: grey;
  margin-bottom: 15px;
  font-weight: bold;
}

/**/

/* .form_applicant{
  background-color: #ffcc00 !important;
  width: 50%;
  justify-content: center;
} */

/*Health Form */
.confirm_package_details h5 {
  color: #cc0000;
  font-family: abel;
  font-weight: 600;
}
.confirm_package_details h4 {
  color: #ffcc00;
  font-family: abel;
  font-weight: 600;
}
.form_applicant label {
  font-family: abel;
  font-weight: 500;
}
.form_applicant input {
  font-family: abel;
}
.form_applicant input::placeholder {
  font-family: abel;
}
.ghuri_btn{
  background-color: #ffcc00;
  color: black;
}



/*Terms*/
.terms_content h1 {
  font-family: abel;
  font-size: 2rem;
  margin-top:25px;
  margin-bottom: 25px;
  font-weight: bold;
  color: #ffcc00;
}
.terms_content p {
  font-family: abel;
  font-size: 1rem;
  text-align: justify;
}
.terms_content h2 {
  font-family: abel;
  font-size: 1.5rem;
  margin-top:25px;
  margin-bottom: 25px;
  color: #ffcc00;
}
.terms_content ul li {
    font-family: abel;
    font-size: 1rem;
    text-align: justify;
  }
  .terms_content ol li {
    font-family: abel;
    font-size: 1rem;
    text-align: justify;
  }
  .refund_table {
   margin-top: 30px;
   margin-bottom: 30px;
  }
  .refund_table th{
    font-family: abel;
  }
  .refund_table td{
    font-family: abel;
  }
  /* End Terms*/